spring:
  application:
    name: smartfuture-backend

  profiles:
    active: dev

  datasource:
    url: jdbc:mysql://localhost:3306/smartfuture_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ayalamouchi@ieee.org
    password: triufffumbtcrtmv
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: "*"
            checkserveridentity: false

server:
  port: 8080
  servlet:
    context-path: /api
  error:
    include-message: always
    include-binding-errors: always

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000

otp:
  length: 6
  expiration-minutes: 5

cors:
  allowed-origins: http://localhost:4200

logging:
  level:
    org.springframework.mail: DEBUG
    tn.smartfuture: DEBUG
    org.springframework.security: DEBUG